<div class="cards-list-container">

  <div class="card-container">

    <div class="card-body">
      <h1 class="card-title">Title</h1>
      <p class="card-sub-title">subtitle</p>
      <p class="card-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat omnis ipsam accusantium ullam eaque velit quibusdam officiis numquam ex? Tempora nulla dignissimos nemo nobis quod architecto quidem, possimus ipsam et?</p>

      <p class="card-rating">3/10</p>
      <section class="card-buttons-container">

        <button type="submit" >+0.5</button>
        <button type="submit">-0.5</button>
        <button type="submit">Remove</button>


      </section>

    </div>
  </div>
</div>
